<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

</body>
</html>
<script type="text/javascript">
    var data = "<%= data %>".replace(/&#34;/g, "\"");
    data = JSON.parse(data);
    console.log(data);
</script>